html {
  width: 90%;
}

body {
  margin: 0;
  padding: 0;
  background: white;
  color: #232323;
  font-family: "Avenir Next", "Avenir", sans-serif;
}

ul a {
  text-decoration: none;
  color: #cdcdcd;
  transition: color 0.3s ease;
}

ul a:hover {
  color: #50A865;
}

nav {
  position: fixed;
  margin-top: -10px;
  z-index: 100;
}
#menuToggle {
  display: block;
  position: relative;
  top: 50px;
  left: 50px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  -webkit-touch-callout: none;
}

#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #232323;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #cdcdcd;
}

#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

#menu {
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background: #232323;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

li {
  padding: 10px 20px;
}

#menuToggle input:checked ~ ul {
  transform: none;
}





a .topics {
  font-size: 22px;
  padding: 10px 0;
}
main h1 {
  font-size: 3em;
}
main h1, h2, h3 {
  font-family: 'Limelight', cursive;
}
main p {
  width: 95%;
}
#first {
  font-weight: bold;
  margin-top: 5%;
}
#margin {
  margin-left: 25%;
}
#content {
  margin-left: 130px;
}
a {
  color: #232323;
}
video {
  margin-left: 5%;
}



/*index.html*/
#ik {
  width: 100%;
}
#kop {
  display: flex;
  flex-direction: row;
  margin-left: 5%;
}
#titel {
  margin-right: 5%;
}
#social {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
i {
  font-size: 2em;
  margin-bottom: 40%;
}
i:hover {
  color: #50A865;
}



/*exertion.html*/
#exertion img{
  width: 250px;
}
.figure {
  display: flex;
  flex-direction: row;
}
.rotate {
  transform: rotate(90deg);
  margin-top: 30px;
  margin-bottom: 30px;
}
.pagina p {
  max-width: 600px;
}


/*computer.html*/
#computer img{
  width: 600px;
}

/*arduino.html*/
.arduino {
  width: auto;
  margin-left: 5%;
  margin-top: 6%;
}
.row {
  display: flex;
  flex-direction: row;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 10%;  
}


#error {
  width: 80% !important;
}
.proof {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
}
.proof video, .proof img {
  max-height: 250px;
  margin-right: 10px;
  margin-top: 10px;
  margin-left: 0;
}